<nav class="breadcrumbs" aria-label="Хлебные крошки">
  <ol class="breadcrumbs__list">
    <li class="breadcrumbs__item breadcrumbs__item--icon">
      <a class="breadcrumbs__home" href="https://letai.ru/" aria-label="Главная">
        <img src="/assets/breadcrumb-home.svg" width="16" height="16" alt="" />
      </a>
    </li>
    <li class="breadcrumbs__separator" aria-hidden="true">
      <img src="/assets/breadcrumb-chevron.svg" width="16" height="16" alt="" />
    </li>
    <li class="breadcrumbs__item">
      <a href="https://letai.ru/">Частным клиентам</a>
    </li>
    <li class="breadcrumbs__separator" aria-hidden="true">
      <img src="/assets/breadcrumb-chevron.svg" width="16" height="16" alt="" />
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--current" aria-current="page">
      Телевидение
    </li>
  </ol>
</nav>
